{% extends "layout.html" %}
{% block body %}

      <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cfg
        <small>cfg</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Commodities</a></li>
        <li class="active">cfg</li>
      </ol>
    </section>

    <section class="content">
         <div class="row">
        <div class="col-md-4">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Control Panel</h3>
            </div>
            <div class="box-body">
            <form action="{{ url_for('cfg_vars') }}"  method="post" >
                  <div class="form-group">
                    <label>Common Functional Group</label>
                    <select name="cfg_name" class="form-control select2" id="dynamic_select" style="width: 100%;">
                         <option value="{{ stat_values.cfg_name }}">{{ stat_values.cfg_name }}</option>
                        {% for cfg in cfgs %}
                            <option value="{{ cfg.cfg_name }}">{{ cfg.cfg_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Lead time (days)</label>
                    <input type="number" name="lead_time" class="form-control" value="{{ stat_values.lead_time }}">
                  </div>
                  <div class="form-group">
                    <label>Service Level (%)</label>
                    <input type="number" name="service_level" class="form-control" value="{{ stat_values.service_level*100 }}">
                  </div>
                  <div class="form-group">
                    <label>Forecast (days)</label>
                    <input type="number" name="forecast" class="form-control" value="{{ stat_values.forecast }}">
                  </div>

                    <input type="submit" class="btn btn-primary btn-block" value="Calculate">
                </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <div class="col-md-8">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Output: {{ stat_values.cfg_name }}</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                            <div class="info-box-content">
                              <span class="info-box-text">Standard Deviation</span>
                              <span class="info-box-number">{{ "{0:,.2f}".format(stat_values.stv_dev) }}</span>
                                <br>
                                <span class="info-box-text">Average demand</span>
                              <span class="info-box-number">{{ "{0:,.2f}".format(stat_values.avg_demand) }}</span>
                                <br>
                                <span class="info-box-text">Total demand</span>
                              <span class="info-box-number">{{ "{0:,.2f}".format(stat_values.total_demand) }}</span>
                                <br>
                                <span class="info-box-text">Safety Stock</span>
                              <span class="info-box-number">{{ "{0:,.2f}".format(stat_values.safety_stock) }}</span>
                                <br>
                                <span class="info-box-text">Reorder Point</span>
                              <span class="info-box-number">{{ "{0:,.2f}".format(stat_values.reorder) }}</span>
                            </div>
                            <!-- /.info-box-content -->
                          </div>

                    </div>
                    <div class="col-md-6">
                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                            <div class="info-box-content">
                              <span class="info-box-text">Inventory</span>
                              <span class="info-box-number">{{ "{0:,.2f}".format(stat_values.inventory) }}</span>

                              <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                              </div>
                             <span class="progress-description">You need to carry <br> this much inventory</span>
                        </div>
                    <!-- /.info-box-content -->
                    </div>
                        <div class="info-box bg-green">
                            <span class="info-box-icon"><i class="ion ion-ios-clock-outline"></i></span>

                            <div class="info-box-content">
                              <span class="info-box-text">DSI</span>
                              <span class="info-box-number">{{ "{0:,.2f}".format(stat_values.dsi) }}</span>

                              <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                              </div>
                               <span class="progress-description">This is how long it takes<br> for your inventory to turn over</span>
                        </div>
                    <!-- /.info-box-content -->
                    </div>
                     </div>
                </div>

                  <!-- solid sales graph -->
          <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
              <i class="fa fa-th"></i>

              <h3 class="box-title">{{ graph_data['cfg_name'] }}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body border-radius-none">
              <div class="chart" id="line-chart{{ graph_data['cfg_name'] }}" style="height: 250px;"></div>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (left) -->
    </section>





    <script>
      $(function () {
          //Initialize Select2 Elements
          $(".select2").select2();
      });
        "use strict";

          var line = new Morris.Line({
            element: 'line-chart{{ graph_data['cfg_name'] }}',
            resize: true,
            data: {{ graph_data|tojson }},
            xkey: 'week_id',
            ykeys: ['entry_value', 'rec_inventory'],
            labels: ['Sales' +
            '' +
            '', 'Rec.'],
            lineColors: ['#efefef', "#0066ff"],
            lineWidth: 2,
            hideHover: 'auto',
            gridTextColor: "#fff",
            gridStrokeWidth: 0.4,
            pointSize: [4,0],
            pointStrokeColors: ["#efefef"],
            gridLineColor: "#efefef",
            gridTextFamily: "Open Sans",
            gridTextSize: 10
          });


</script>
{% endblock %}