{% extends "layout.html" %}
{% block body %}
    <style>
     .well-head{
         background: #367fa9;
         color: #fff;
         text-align: center;
     }
    </style>
      <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Commodity
        <small>{{ commodity[0]['com_name'] }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Commodities</a></li>
        <li class="active">{{ commodity[0]['com_name'] }}</li>
      </ol>
    </section>

    <section class="content">
         <div class="row">
        <div class="col-md-3">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Control Panel</h3>
            </div>
            <div class="box-body">
            <form action="#" >
                  <div class="form-group">
                    <label>Commodity</label>
                    <select class="form-control select2"  id="dynamic_select" style="width: 100%;">
                       <option value="" selected>Pick a commodity</option>
                      {% for commodity in commodities %}
                       <option value="/commodity/{{ commodity.com_id }}" >{{ commodity.com_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>CFG</label>
                    <select class="form-control select2" style="width: 100%;">
                    <option value="all" selected>All CFGs</option>
                      {% for cfg in cfgs %}
                            <option value="{{ cfg.cfg_id }}">{{ cfg.cfg_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Service Level</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option value="90">90%</option>
                        <option value="95">95%</option>
                        <option value="98">98%</option>
                    </select>
                  </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Calculate">
                </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <div class="col-md-9">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Output</h3>
            </div>
            <div class="box-body">
                <div class="col-md-4">
                    <div class="well well-sm well-head">Low</div>
                    <div class="list-group">
                      {% for cfg in group1 %}
                      <a href="#" class="list-group-item">{{ cfg.cfg_name }}</a>
                      {%  endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                     <div class="well well-sm well-head">Medium</div>
                     <div class="list-group">
                      {% for cfg in group2 %}
                      <a href="#" class="list-group-item">{{ cfg.cfg_name }}</a>
                      {%  endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                     <div class="well well-sm well-head">High</div>
                    <div class="list-group">
                      {% for cfg in group3 %}
                      <a href="#" class="list-group-item">{{ cfg.cfg_name }}</a>
                      {%  endfor %}
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (left) -->
         </div>
    </section>





    <script>
      $(function () {
          //Initialize Select2 Elements
          $(".select2").select2();
      });

    $(function(){
      // bind change event to select
      $('#dynamic_select').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
</script>
{% endblock %}